*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Mochiy Pop One", sans-serif;
    scroll-behavior:smooth;
    text-transform: uppercase;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

    
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('assets/denemebh.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
body{
    background-image: url('assets/denemebh.webp');
    background-repeat:repeat-y;
    background-size: cover;
    background-position: center;
    height: 10vh;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    color: white;
}
.nav-links{
    display: flex;
    gap: 50px;
    font-size: 18px;
}
.nav-links li a{
    color: white;
}
.nav-links li a:hover{
    color: rgb(157, 203, 232);
}
#bao{
    font-size: 19px;
}
.navbar .logo img{
    width: 280px;
    height: 280px;
    padding-top: 50px;
}
.section-header{
    margin: 0 120px;
    background-color: #cfa756;
    border-radius: 10px;
    color: rgb(30, 30, 30);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;   
}
.section-header h1{
    text-align: center;
    padding: 10px 0;
}
.vote-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 40px;
}
.answer-area{
    margin-top: 20px;
}
.answer-area:nth-child(1){
    margin-top: -10px;
}
.item{
    border: 2px solid #e9ab30;
    border-radius: 5px;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.item h2{
    text-align: center;
    color: rgb(30, 30, 30);
    background-color: #cfa756;
    width: 90%;
    height: 100%;
    margin-bottom: 5px;
    padding: 5px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.vote-section .item img{
    width: 250px;
    height: 250px;
}
.item:hover{
    transform: scale(1.05);
    background-color: #cfa756;
}
.vote-button{
    justify-content: center;
    display: flex;
    padding: 60px 0;
}
.vote-button button{
    background-color: #ca962f;
    color: white;
    border: 1px solid #cfa756;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}
.vote-button button:hover{
    transform: scale(1.05);
}

#section-ch{
    padding: 20px 0;
}
@media (max-width: 768px) {
    .navbar {
        height: 80px;
        padding: 0;
    }

    .navbar .logo img {
        width: 200px;
        height: 200px;
        padding-top: 20px;
    }

    .nav-links {
        gap: 20px;
        font-size: 14px;
        padding-right: 12px;
    }

    .section-header {
        margin: 0 20px;
    }
@media (max-width: 480px) {

    .navbar .logo img {
        width: 150px;
        height: 150px;
    }

    .nav-links {
        gap: 15px;
        font-size: 12px;
        padding-right: 10px;
    }

    .section-header h1 {
        font-size: 18px !important;
    }

    .vote-section .item img {
        width: 140px;
        height: 150px;
    }

    .vote-button button {
        width: 120px;
        height: 35px;
    }
    .navbarlogo img{
    margin-left: -60px;
    }
}
@media (max-width: 768px) {
    .item {
        width: 100px !important; 
        margin: 5px 10px;
    }
    .item h2 {
        font-size: 1em; 
        margin: 1px;
    }

    .item img {
        width: 100% !important; 
        height: auto; 
        height: 100px !important;
    }


    .section-header h1 {
        font-size: 1.5rem; 

    }
    .item h2 {
        font-size: 1em; 
        margin: 1px;
    }

    .main-logo-image img{
        max-width:  80%;
    }

    .vote-button .btn{
        width: 66%;
        height: 50px;
    }
    
    .s-font{
        font-size: 6px;
    }

}

@media (max-width: 520px) {
    .item {
        width: 150px; 
        margin: 5px 10px;
    }
    .item h2 {
        font-size: 7px !important; 
        margin: 1px;
    }
    .item {
        width: 95px !important; 
        margin: 5px 10px;
    }
    .item h2 {
        font-size: 1em; 
        margin: 1px;
    }

    .item img {
        width: 100% !important; 
        height: auto; 
        height: 100px !important;
    }
    .section-header h1 {
        font-size: 1.5rem; 
    }
    .item h2 {
        font-size: 1em; 
        margin-bottom: 5px;
    }

    .nav-links li a{
        font-size: 10px !important;
        display: none;
    }

    #bao{
        font-size: 6px;
    }
    #yatan{
        font-size: 6px !important;
    }

}}
.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    padding: 80px 0;
}
.contactForm h1 {
    padding-top: 10px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}
.contactForm h2{
    font-size: 14px;
    margin-bottom: 60px;
    transition: opacity 0.1s linear, transform 0.3s linear;
}

.contactForm p{
    transition: opacity 0.1s linear, transform 0.3s linear;
}
.contactForm input, .contactForm textarea {
    background-color: white;
    width: 60%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.1s linear, transform 0.3s linear;
}
.contactForm textarea {
    height: auto;
    padding: 16px;
    margin-bottom: 25px;
}
.contactForm input:focus-within, .contactForm textarea:focus-within {
    outline: none;
    border-width: 2px;
}
.contactForm input:focus-within {
    border-color: #a57109;
}
.contactForm textarea:focus-within {
    border-color: #a57109;
}
.input-header{
    text-align: left;
    width: 60%;
    margin-bottom: 10px;
    font-size: 18px;
}
.button-64{
    width: 60%;
    height: 56px;
    border: 1px solid #d49210;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.1s linear, transform 0.3s linear;
}
.button-64 a{
    text-decoration: none;
    color: white;
}
.button-64:hover{
    transform: scale(1.05);
    background-color: #a57109;
}
#ContactUS{
    padding-top: 20px;
}
#swiper{
    padding: 140px 0;
}
.swiper {
    width: 100%; 
    height: 500px; 
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
}
.swiper-slide img {
    width: 400px;
    height:500px; 
    object-fit: fill; 
    object-position: center; 
}
.swiper-button-next,
.swiper-button-prev,.autoplay-progress{
    color: white;
}

.main-logo-image{
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
.main-logo-image img{
    max-width: 750px;
    height: auto;
    width: 100%;
}
@media (max-width: 768px) {
    .main-logo-image{
        margin-top: -90px;
    }

    .nav{
        margin-right: 20px !important;
    }
   

}

@media (max-width: 1024px) {
  
    .swiper {
        height: 400px;
    }
    .swiper-slide img {
        width: 300px; 
        height: 400px; 
    }
    .swiper-button-next,
    .swiper-button-prev,
    .autoplay-progress {
        font-size: 14px; 
    }
}
@media (max-width: 768px) {

    .swiper {
        height: 300px;
        z-index: -1; 
    }
    .swiper-slide img {
        width: 250px;
        height: 300px; 
    }
    .swiper-button-next,
    .swiper-button-prev,
    .autoplay-progress {
        font-size: 12px;
    }


    .geri-al button{
        width: 24px !important;
        height: 24px !important;
    }

    .hide-section button{
        width: 100px !important;
        height: 32px !important;;
    }
}
@media (max-width: 480px) {

    .swiper {
        height: 250px; 
    }
    .swiper-slide img {
        width: 200px;
        height: 250px; 
    }
    .swiper-button-next,
    .swiper-button-prev,
    .autoplay-progress {
        font-size: 10px;
    }
   
}
.off-screen-menu {
    background-color: #333;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: right 0.3s ease;
    z-index: 1;
}
.off-screen-menu.active {
    right: 0;
}
.off-screen-menu {
    background-color:  rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}
nav {
    padding: 1rem;
    display: flex;
    
}
.ham-menu {
    display: flex;
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 2;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.navbar3 {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;   
}
.navbar1{
    color: white; 
}
.navbarlogo{
    display: flex;
    width: 50px;
    height: 50px;
    margin-bottom: -20px;
    padding: 0;
}
.navbarlogo img{
    display: flex;
    width: 200px;
margin-top:-50px;
    padding: 0;
}
.onay-container{
    color: white;
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.onay{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 5%;
    background:#cfa756;
    position: fixed; 
    text-align: center;
    padding: 0 30px 30px;
    color: #000000;
    font-weight: bolder;
}
.onaylogo{
    display: flex;
    justify-content: center;
}

.onay img{
    width: 80px;
}

#yatan{
    font-size: 18px;
}

.geri-al {
    position: absolute;
    right: 20px; /* Butonun en sağa gitmesini sağlar */
    cursor: pointer;
}

.geri-al button{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    color: rgb(30, 30, 30);
    cursor: pointer;
    display: none;
}


.hidden {
    display: none; /* Gizlemek için kullanılacak */
}

.hide-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.hide-section button{
    background-color: #ca962f;
    color: white;
    border: 1px solid #cfa756;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}